<mat-card class="example-card">
  <mat-card-header class="card-header">
    <mat-card-title>{{ task?.name }}</mat-card-title>
    <div class="tat">
      <mat-card-subtitle>TAT:&nbsp; {{ task?.turnAroundTime | date:'dd MMM yyyy' }}</mat-card-subtitle>
      <mat-card-subtitle>GO LIVE:&nbsp; {{ task?.turnAroundTime | date:'dd MMM yyyy' }}</mat-card-subtitle>
    </div>
    <!-- <mat-card-subtitle>{{ task?.videoTitle }}</mat-card-subtitle> -->
  </mat-card-header>
  <mat-card-content>
    <div>
      <p>Video Title: {{ task?.videoTitle }}</p>
      <p>Video Description: {{ task?.videoDescription }}</p>
    </div>

    <mat-card-title>
      Submissions.
    </mat-card-title>
    <br />

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef> Comment </th>
        <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="isApproved">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.isApproved}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-card-content>
  <mat-card-actions class="card-actions">
    <a [routerLink]="['/task']" (click)="$event.stopPropagation()" matButton>
      Back to list
    </a>
  </mat-card-actions>
</mat-card>


<div class="col-lg-12">
  <mat-card class="b-1 shadow-none">
    <mat-card-content class="b-t-1">

      <!-- <div class="dropzone" dropzone (onFileDropped)="droppedFiles($event)">
        <div class="text-center">
          Drop files here.
        </div>
      </div> -->

      <!-- Hidden file input element -->
      <input type="file" style="display: none;" #fileInput (change)="onFileSelected($event)">

      <!-- Button to trigger file selection -->
      <!-- <button mat-flat-button color="primary" type="button" (click)="fileInput.click()">Select Files</button> -->

      <div class="dropzone" dropzone (onFileDropped)="droppedFiles($event)" (click)="fileInput.click()">
        <div class="text-center">
          Drop files here.
        </div>
      </div>


      <mat-list>
        <mat-list-item *ngFor="let file of allFiles; let i = index">
          <span matListItemTitle class="f-s-16 f-w-600">{{file.name}}</span>
          <!-- <span matListItemLine class="mat-body-1">{{file.type}}</span> -->
          <span matListItemLine class="mat-body-1">{{file.size}} bytes</span>
        </mat-list-item>
        <mat-list-item *ngIf="allFiles.length === 0">
          <strong>No files are attached</strong>
        </mat-list-item>
      </mat-list>
      <div class="pull-right">
        <button mat-flat-button color="primary" type="button" (click)="upload()">Upload</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>